.image-scale {
  max-width: 40%;
  max-height: 40%;
}

.image-logo {
  max-width: 40%;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.navbar-top {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: var(--background-navbar);
}

.navbar-menu {
  list-style: none;
  display: flex; /* Hidden on mobile */
  flex-direction: row;
  justify-content: space-between;
}

.navbar-menu li button {
  background-color: var(--background-main-blocked);
  color: var(--foreground-main);
  text-decoration: none;
  font-size: 10vw;
  display: block;
}

.center{  
  margin-top: -0.5em;
  padding: 1em;
  width:100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-main);
}

.blockedBG{
  background-color: var(--background-main-blocked);  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* Card components CSS */

.card {
  margin: 2.1em;
  width: 22em;
  background-image: transparent;
}

.card-title {
  word-wrap: break-word;
  text-align: center;
  font-size: calc(var(--main-font-size) * var(--font-size-scale));
  background-color: transparent;
}

.card-description {
  word-wrap: break-word;
  text-align: center;
  font-size: var(--main-font-size);
  background-color: transparent;
}

.card-image {
  margin: 1em;
  object-fit: contain;
  width: 20em;
  height: 20em;
}

.search{
  background-color: var(--background-main);
  font-size: 2em;
  font-family: 'Harry P';
}

.clearBtn{
  background-color: var(--background-main);
  background-image: url('./assets/clear-button-icon.png');
  background-size:contain ;  
  background-position: center;
  background-repeat: no-repeat;
  width: 1.1em;
}

.fullScreenText{
  font-size: 10em;
}

.sectionBtn{
  min-width: 1em;
}

.roundBtn{
  border-radius: 0.25em;
}


@media (min-width: 1130px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: static;
    background-color: transparent;
    border: none;
    gap: 15px;
  }

  .navbar-top{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sectionBtn{
    min-width: 4em;
  }
    
  .navbar-menu li button {
    font-size: 4vw;
  }
}

