
:root {
  --navbar-height: 10%;
  --background-main: black;
  --foreground-main: white;
  --foreground-title: gold;
  --background-item: white;  
  --main-font-size: 2.20em;
  --font-size-scale: 1.618;
  --search-font-size: 3em;
}


.image-scale {
  max-width: 40%;
  max-height: 40%;
}

.navbar {
  margin-top: -0.5em;
  margin-left: -0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-main);
  position: sticky;
  top: 0;
  width: 101%;
  height: var(--navbar-height);
}

.navbar-menu {
  list-style: none;
  display: none; /* Hidden on mobile */
  flex-direction: column;
  width: 15em;
  background-color: yellow;
  position: absolute;
  bottom: 4em;
  left: 0.5em;
}

.navbar-menu.active {
  display: flex;
}


.navbar > div {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.navbar-menu li button {
  background-color: var(--background-main);
  text-decoration: none;
  color: var(--background-item);
  display: block;
  padding: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* Card components CSS */

.card {
  margin: 2.1em;
  width: 22em;
  background-image: transparent;
}

.card-title {
  word-wrap: break-word;
  text-align: center;
  font-size: calc(var(--main-font-size) * var(--font-size-scale));
  background-color: transparent;
}

.card-description {
  word-wrap: break-word;
  text-align: center;
  font-size: var(--main-font-size);
  background-color: transparent;
}

.card-image {
  margin: 1em;
  object-fit: contain;
  width: 20em;
  height: 20em;
}

@media (min-width: 1130px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: static;
    background-color: transparent;
    border: none;
    gap: 15px;
  }

}

