
:root {
  --navbar-height: 10%;
  --background-main: black;
  --foreground-main: white;
  --border-slider: white;
  --background-slider: green;
  --box-slider: white;
  --border-feature-box: white;
  --background-item: white;  
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.image-scale {
  max-width: 40%;
  max-height: 40%;
}

.navbar {
  margin-top: -0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-main);
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.navbar-menu {
  list-style: none;
  display: none; /* Hidden on mobile */
  flex-direction: column;
  width: 15em;
  background-color: yellow;
  position: absolute;
  bottom: 4em;
  left: 0.5em;
}

.navbar-menu.active {
  display: flex;
}


.navbar > div {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

/* .navbar > div > div {
  margin-left: 0.25em;
  font-size: 2.5em;
  color: var(--foreground-main);
} */


.navbar-menu li button {
  background-color: var(--background-main);
  text-decoration: none;
  color: var(--background-item);
  display: block;
  padding: 1rem;
}



@media (min-width: 1130px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: static;
    background-color: transparent;
    border: none;
    gap: 15px;
  }

  .featureSwitch {
    display: none;
  }
}


/* 
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
