
:root {
  --navbar-height: 10%;
  --background-main: rgba(169, 169, 169, 0.5);
  --background-main-blocked: darkgray;
  --background-navbar: black;
  --foreground-main: black;
  --foreground-title: gold;
  --background-item: white;  
  --main-font-size: 2.20em;
  --font-size-scale: 1.618;
  --search-font-size: 3em;
}

@font-face{
  font-family: "Harry P";
  src:local("Harry P"),
  url('./assets/fonts/HARRYP__.ttf') 
}

html { 
  background: url('./assets/BG.jpeg') center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: var(--background-main);
  font-family: 'Harry P';
}

button {
  color: var(--foreground-main);
  font-size: 2rem;
  font-family: 'Harry P';
}